# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Environments ---
.env
.venv
venv/
ENV/
env/
*.bak
*.swp

# --- Unit test / coverage reports ---
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# --- Documentation ---
docs/_build/
/site

# --- Static Analysis / Typing ---
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# --- Django ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# --- Celery ---
celerybeat-schedule
celerybeat.pid

# --- JetBrains (PyCharm, etc.) ---
.idea/
*.iml
*.iws
*.ipr

# --- VS Code ---
.vscode/

# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# --- Windows ---
Thumbs.db
ehthumbs.db
Desktop.ini
